<div class="content">
  <h1>All Projects</h1>
</div>
<div class="buttons">
  <%= link_to 'Create Project', new_project_path, class: 'button is-info' %>
</div>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Total Tickets</th>
  </thead>
  <tbody>
  <% if @projects.length.zero? %>
    <p>No projects.</p>
  <% else %>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= project.tickets.length %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
