<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"  href="/projects">
        Projects
      </a>

      <a class="navbar-item" href="/tickets">
        Tickets
      </a>

      <a class="navbar-item" href="/tags">
        Tags
      </a>
    </div>
    <div class="navbar-end" style="margin-right: 10px;">
      <% if current_user.nil? %>
        <%= link_to 'Signup', signup_path, class: 'navbar-item' %>
        <%= link_to 'Login', login_path, class: 'navbar-item' %>
      <% else %>
        <%= link_to 'Logout', logout_path, method: :delete, class: 'navbar-item' %>
      <% end %>
    </div>
  </div>
</nav>

